*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.explore{
    width: 90%;
    margin: 30vh 40px;

}

.designerInfo{
      width: 400px;
    height: 180px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;

    background-color: #FFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.designerInfo img { 
    width: 100px;
    height: 100px;
    border-radius: 180px;
    margin : 15px 0 5px 15px  ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.desName{
    font-size: 25px;
  font-family: 'Neucha', cursive;
  margin : 35px 0 0 15px  ;
    color: #333232;
  
}
.desEmail {
     font-size: 17px;
  font-family: 'Mali', cursive;
  color: #5a5958;
  margin-left: 130px ;
  margin-top: -50px;
}
.phone{
     font-size: 20px;
  font-family: 'Mali', cursive;
    color: #5a5958;

  margin-left: 190px ;
  margin-top: -40px;
}

.eIcon , .phIcon{
    color: #c9a848;
    font-size: 23px;
}

.project img {
    width: 450px;
    height: 250px;
}
.project img:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:900px;
    height:auto;
    display:block;
    z-index:999;
}