* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #ebebeb; */
  background-image: url("http://cdn.home-designing.com/wp-content/uploads/2021/09/unique-coffee-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  
}
.login {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.loginBox {
  width: 40%;
  margin: 0 auto 100px;
  overflow: hidden;
  position: relative;
  height: 550px;
  border-radius: 40px;
  background: #fff;
	box-shadow: 5px -20px 28px rgba(247, 247, 247, 0.5)  ; 

  
}

.loginForm {
  position: relative;
  width: 90%;
  height: 100%;
  transition: ease-in-out;
  padding: 50px 30px 0;
  margin-left: 20px;

  
}
.loginForm h2 {
    font-size: 50px;
  margin-bottom: 10px;
  color: #5c5c5c;
  font-weight: normal;
     font-family: "Sawarabi Mincho", sans-serif;


}
.button {
  display: block;
  background-color: #c9a848;
  color: #fff;
  margin: 0 auto;
  width: 130px;
  height: 40px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
   font-size: 25px;
    font-family: "Sawarabi Mincho", sans-serif;
  text-decoration: none;
  
}
.button:hover{
   text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.34);
}
.inputWrap {
  width: 70%;
  margin: 70px 70px;
  display: inline-block;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #cfcfcf;
}
.inputs {
  margin-bottom: 50px;
  width: 80%;
  height: 35px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
